html {
  scroll-snap-type: y mandatory;
}

.page {
  height: 100%;
  width: 100%;
  padding: 0;
  position: absolute;
  overflow: auto;    
}

.introduction {
  display: flex;
  position: absolute;
  font-family: 'Flix', sans-serif;
  font-size: 6vw;
  color: #6495ed;
  margin: 2em 0.35em;
  top: 0em;


  h1 {
    position: absolute;
    animation: block 3s ease-in forwards;
    display: block;
    width: 7em;
    font-size: 9vw;
    top: -0.75em;
  }
  
  p {
    position: inherit;
    width: 11em;
    top: .70em;
  }
  
}

.picture {
position: relative;
left: 12em;
height: 3em;
width: 3em;
border-radius: 50%;
object-fit: cover;
z-index: auto;

}

.project-textzone {
  position: absolute;
  top: 75em;
  width: 55em;
  left: 38%;
  color: #6495ed;
  font-size: 1em;
  display: flex;
  flex-direction: column;
  margin: 0em 4em;
  font-family: 'Verdana', sans-serif;
}

@keyframes block {
  0% {
    transform: translate(-110%, 0);
  }
   55% {
    transform: translate(0, 0);
  }
}

@mixin translate50
{
-webkit-transform: translate(-50, -50%);
-ms-transform: translate(-50, -50%);
-o-transform: translate(-50, -50%);
transform: translate(-50, -50%);
}

@mixin roundedCorners
{
-webkit-border-radius: 50%; 
-moz-border-radius: 50%; 
border-radius: 50%;
}

@mixin rotateBase
{
-webkit-transform: rotate3d(-1, 1, 0, 0deg);
-ms-transform: rotate3d(-1, 1, 0, 0deg);
-o-transform: rotate3d(-1, 1, 0, 0deg);
transform: rotate3d(-1, 1, 0, 0deg);
}

@mixin rotateRight
{
-webkit-transform: rotate3d(-1, 1, 0, 30deg);
-ms-transform: rotate3d(-1, 1, 0, 30deg);
-o-transform: rotate3d(-1, 1, 0, 30deg);
transform: rotate3d(-1, 1, 0, 30deg);
}

@mixin rotateLeft
{
-webkit-transform: rotate3d(-1, 1, 0, -30deg);
-ms-transform: rotate3d(-1, 1, 0, -30deg);
-o-transform: rotate3d(-1, 1, 0, -30deg);
transform: rotate3d(-1, 1, 0, -30deg);
}

// n is number of stars generated
@function generateStars ($n)
{ 
$value: '#{0} #{random(2000)}px #{random(2000)}px #FFF';

@for $i from 2 through $n
{
  $value: '#{$value} , #{random(2000)}px #{random(2000)}px #FFF';
}

@return unquote($value);
}

$stars-small:  generateStars(700);
$stars-medium: generateStars(200);
$stars-big:    generateStars(100);

body
{
overflow: hidden;
}

#stars-container
{
height: calc(100vh - 50px);
width: 100vw;
background: radial-gradient(ellipse at bottom, #141414 0%, #191919 100%);
overflow: hidden;
@include translate50;
z-index: 0;
left: 0;
top: 0;
position: relative;
}
  
#stars
{
width: 1px;
height: 1px;
background: transparent;
box-shadow: $stars-small;
animation : animateStars 28.5s ease-in-out infinite;
@include roundedCorners;

&::after
{
  content: " ";
  position: absolute;
  margin: auto;
  top: 0; left: 0; right: 0; bottom: 0;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: $stars-small;
  @include roundedCorners;
}
}
  
#stars2
{
width: 2px;
height: 2px;
background: transparent;
box-shadow: $stars-medium;
animation : animateStars 30s ease-in-out infinite;
@include roundedCorners;
  
&::after
{
  content: " ";
  position: absolute;
  margin: auto;
  top: 0; left: 0; right: 0; bottom: 0;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: $stars-medium;
  @include roundedCorners;
}
}
  
#stars3
{
width: 3px;
height: 3px;
background: transparent;
box-shadow: $stars-big;
animation : animateStars 31.5s ease-in-out infinite;
@include roundedCorners;
  
&:after
{
  content: " ";
  position: absolute;
  margin: auto;
  top: 0; left: 0; right: 0; bottom: 0;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: $stars-big;
  @include roundedCorners;
}
}

@keyframes animateStars
{
0%{@include rotateBase;}
25%{@include rotateRight;}
50%{@include rotateBase;}
75%{@include rotateLeft;}
100%{@include rotateBase;}
}

$mirrored-stars-small:  generateStars(700);
$mirrored-stars-medium: generateStars(200);
$mirrored-stars-big:    generateStars(100);

body
{
overflow: hidden;
}

#mirrored-stars-container
{
height: 100vh;
width: 100vw;
background: radial-gradient(ellipse at bottom, #141414 0%, #191919 100%);
overflow: hidden;
@include translate50;
z-index: 0;
left: 0;
top: -.5em;
position: relative;
transform: rotate(180deg);
display: flex;
}
  
#mirrored-stars
{
width: 1px;
height: 1px;
background: transparent;
box-shadow: $stars-small;
animation : animateStars 28.5s ease-in-out infinite;
@include roundedCorners;

&::after
{
  content: " ";
  position: absolute;
  margin: auto;
  top: 0; left: 0; right: 0; bottom: 0;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: $stars-small;
  @include roundedCorners;
}
}
  
#mirrored-stars2
{
width: 2px;
height: 2px;
background: transparent;
box-shadow: $stars-medium;
animation : animateStars 30s ease-in-out infinite;
@include roundedCorners;
  
&::after
{
  content: " ";
  position: absolute;
  margin: auto;
  top: 0; left: 0; right: 0; bottom: 0;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: $stars-medium;
  @include roundedCorners;
}
}
  
#mirrored-stars3
{
width: 3px;
height: 3px;
background: transparent;
box-shadow: $stars-big;
animation : animateStars 31.5s ease-in-out infinite;
@include roundedCorners;
  
&:after
{
  content: " ";
  position: absolute;
  margin: auto;
  top: 0; left: 0; right: 0; bottom: 0;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: $stars-big;
  @include roundedCorners;
}
}

@keyframes animateStars
{
0%{@include rotateBase;}
25%{@include rotateRight;}
50%{@include rotateBase;}
75%{@include rotateLeft;}
100%{@include rotateBase;}
}

//

.cube-container {
  width: 100%;
  height: 50vh;
  top: 85%;
  left: -35%;
  padding-top: 5%;
  margin-left: 0;
  position: absolute;
  display: flex;
  justify-content: center;
  flex-direction: column;
  justify-content: center;
  align-items: center
}

.cube {
  animation: spincube;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 120s;
  animation-delay: 7s;
  transform-style: preserve-3d;
  transform-origin: center center 0;
}

.face {
  position: absolute;
  width: 3em;
  height: 3em;
  border: 1px solid #141414;
  background: #191919;
  text-align: center;
  font-size: 6.25em;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 20px 0px #6495ed;

  img {
    width: 100%;
    height: 100%;
  }
}

.front {
  transform: translateZ(150px);
}

.back {
  transform: rotateY(90deg) translateZ(150px);
}

.right {
  transform: rotateY(180deg) translateZ(150px);
}

.left {
  transform: rotateY(-90deg) translateZ(150px);
}

.top {
  transform: rotateX(-90deg) translateZ(150px);
}

.bottom {
  transform: rotateX(-90deg) rotateY(180deg) translateZ(150px);
}


@keyframes spincube {
  from,
  to {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg) translateX(0) translateY(0) translateZ(0);  
  }
  16% {
    transform: rotateY(-90deg) translateY(-20px) translateZ(-150px);
  }
  33% {
    transform: rotateY(-180deg) translateX(-300px);
  }
  50% {
    transform: rotateY(-270deg) translateX(-100px) translateZ(150px);
  }
  66% {
    transform: rotateY(-270deg) rotateX(90deg) rotateZ(90deg) translateY(-100px) translateZ(-150px);
  }
  83% {
    transform: rotateY(-90deg) rotateX(90deg) rotateZ(90deg) translateX(-300px) translateZ(-150px);
  }
}

@media only screen and (max-width: 768px) {

  .introduction {
    top: 70%;
    left: 8%;

    h1 {
      top: -3.5em;
      font-size: 2em;
    }
    p {
      top: -2.5em;
      margin-top: 0;
      font-size: 1em;
    }

  }

  .picture {
    left: calc(50% - 2.1em);
    top: -15.75em;
    width: 8em;
    height: 8em;
  }

  .project-textzone {
    justify-content: center;
    font-size: 0.75em;
    left: 5%;
    max-width: 70%;
    top: 120%;
    font-family: 'Verdana', sans-serif;
  }

  .cube-container {
    top: 70%;
    left: -15%;
  }

  .face {
    width: 1.25em;
    height: 1.25em;
  }

  .front {
    transform: translateZ(63px);
  }
  
  .back {
    transform: rotateY(90deg) translateZ(63px);
  }
  
  .right {
    transform: rotateY(180deg) translateZ(63px);
  }
  
  .left {
    transform: rotateY(-90deg) translateZ(63px);
  }
  
  .top {
    transform: rotateX(-90deg) translateZ(63px);
  }
  
  .bottom {
    transform: rotateX(-90deg) rotateY(180deg) translateZ(63px);
  }

  @keyframes spincube {
    from, to {
      transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg) translateX(0) translateY(0) translateZ(0);
    }
    16% {
      transform: rotateY(-90deg) translateY(-20px) translateZ(-63px);
    }
    33% {
      transform: rotateY(-180deg) translateX(-126px);
    }
    50% {
      transform: rotateY(-270deg) translateX(-70px) translateZ(63px);
    }
    66% {
      transform: rotateY(-270deg) rotateX(90deg) rotateZ(90deg) translateY(-42px) translateZ(-63px);
    }
    83% {
      transform: rotateY(-90deg) rotateX(90deg) rotateZ(90deg) translateX(-126px) translateZ(-63px);
    }
  }
}