.about-page {
    width: 100%;
    height: 100%;
    position: absolute;
    box-sizing: border-box;
    overflow-y: auto;
}

.about-me {
    width: 66%;
    max-width: 90em;
    margin-top: 11em;
    font-family: 'Verdana', sans-serif;

    h2 {
        font-size: 4em;
        color: #6495ed;
        margin-right: 1em;
    }

    p {
        font-size: 190%;
        color: #c0c0c0;
        margin-right: 2em;
        margin-bottom: 3em;
    }
}

.about-picture {
    margin: 14em 7em;
    height: 20em;
    width: 20em;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 0 15px 0px #000;
}

.contactme-button {
    position: absolute;
    top: 37em;
    margin: 0 14em;

    button {
        color: #6495ed;
        background: 0 0;
        font: 3em;
        letter-spacing: 2px;
        border: 0.5px solid;
        border-radius: 3px;
    }
}


@media only screen and (max-width: 768px) {

    .about-page {
        justify-content: center;
    }

    .about-picture {
        width: 8em;
        height: 8em;
        position: absolute;
        top: -6em;
        left: 1.25em;
    }

    .about-me {

        position: absolute;
        top: 35%;

        h2 {
            font-size: 2em;
            width: 95%;
        }

        p {
            font-size: 1em;
            width: 110%;
            margin-bottom: 4em;
        }
    }

    .contactme-button {
        position: absolute;
        top: 18em;
    }
  }