.container {
    display: flex;
    min-height: 100vh;
}

.nav-bar {
    background: #181818;
    width: 100%;
    height: 75px;
    position: sticky;
    top: 0;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;

    nav {
    
        ul {
            padding-left: 1.3em;
            display: flex;
            justify-content: center;
            margin-top: 10px;
            list-style: none;
        }

        a {
            font-size: 1.2em;
            color: #4d4d4e;
            display: flex;
            align-items: center;
            height: 51px;
            margin: 0 8em;

            i {
                transition: all .3s ease-out;

            }
            
            &:hover {
                color: #6495ed;

                svg {
                    opacity: 0;
                }

                &:after {
                    opacity: 1;
                }
            }
            &:after {
                content: '';
                font-size: 12px;
                letter-spacing: 1px;
                left: 50%;
                transform: translateX(-70%);
                display: flex;
                opacity: 0;
                transition: all .3s ease-out;
            }

            &:first-child {
                &:after { 
                    content: 'About';
                }
            }

            &.projects:after {
                    content:'Projects';
            }

            &.home:after {
                    content:'Home';
            }

            &.blog:after {
                    content:'Blog';
            }

            &.contact-link:after {
                    content:'Contact';
            }

            &.active {
                svg {
                    color: #6495ed;
                }
            }
        } 
    }

}

@media only screen and (max-width: 768px) {
    .nav-bar {
        nav {

            ul {
                justify-content: center;
            }
            a {
                font-size: 16px;
                margin: 0 7px;
            }
        }
    }
}