html {
  scroll-snap-type: y mandatory;
}

.page {
  height: 110vh;
  padding: 0;
  position: absolute;
  overflow: auto;    
}

.introduction {
  font-family: Geneva;
  font-size: 6vw;
  color: #6495ed;
  position: absolute;
  display: grid;
  margin: 3em .35em;

  h1 {
    position: absolute;
    animation: block 3s ease-in forwards;
    display: block;
    top: -5em;
  }
  
  p {
    position: inherit;
    width: 11em;
    top: -7em;
  }
  
}



.picture {
position: relative;
top: -9em;
left: 12em;
height: 350px;
width: 350px;
border-radius: 50%;
object-fit: cover;

}

@keyframes block {
  0% {
    transform: translate(-110%, 0);
  }
   55% {
    transform: translate(0, 0);
  }
}



@mixin translate50
{
-webkit-transform: translate(-50, -50%);
-ms-transform: translate(-50, -50%);
-o-transform: translate(-50, -50%);
transform: translate(-50, -50%);
}

@mixin roundedCorners
{
-webkit-border-radius: 50%; 
-moz-border-radius: 50%; 
border-radius: 50%;
}

@mixin rotateBase
{
-webkit-transform: rotate3d(-1, 1, 0, 0deg);
-ms-transform: rotate3d(-1, 1, 0, 0deg);
-o-transform: rotate3d(-1, 1, 0, 0deg);
transform: rotate3d(-1, 1, 0, 0deg);
}

@mixin rotateRight
{
-webkit-transform: rotate3d(-1, 1, 0, 30deg);
-ms-transform: rotate3d(-1, 1, 0, 30deg);
-o-transform: rotate3d(-1, 1, 0, 30deg);
transform: rotate3d(-1, 1, 0, 30deg);
}

@mixin rotateLeft
{
-webkit-transform: rotate3d(-1, 1, 0, -30deg);
-ms-transform: rotate3d(-1, 1, 0, -30deg);
-o-transform: rotate3d(-1, 1, 0, -30deg);
transform: rotate3d(-1, 1, 0, -30deg);
}

// n is number of stars generated
@function generateStars ($n)
{ 
$value: '#{0} #{random(2000)}px #{random(2000)}px #FFF';

@for $i from 2 through $n
{
  $value: '#{$value} , #{random(2000)}px #{random(2000)}px #FFF';
}

@return unquote($value);
}

$stars-small:  generateStars(700);
$stars-medium: generateStars(200);
$stars-big:    generateStars(100);

body
{
overflow: hidden;
}

#stars-container
{
height: calc(100vh - 50px);
width: 100vw;
background: radial-gradient(ellipse at bottom, #141414 0%, #191919 100%);
overflow: hidden;
@include translate50;
z-index: 0;
left: 0;
top: 0;
position: relative;
}
  
#stars
{
width: 1px;
height: 1px;
background: transparent;
box-shadow: $stars-small;
animation : animateStars 28.5s ease-in-out infinite;
@include roundedCorners;

&::after
{
  content: " ";
  position: absolute;
  margin: auto;
  top: 0; left: 0; right: 0; bottom: 0;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: $stars-small;
  @include roundedCorners;
}
}
  
#stars2
{
width: 2px;
height: 2px;
background: transparent;
box-shadow: $stars-medium;
animation : animateStars 30s ease-in-out infinite;
@include roundedCorners;
  
&::after
{
  content: " ";
  position: absolute;
  margin: auto;
  top: 0; left: 0; right: 0; bottom: 0;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: $stars-medium;
  @include roundedCorners;
}
}
  
#stars3
{
width: 3px;
height: 3px;
background: transparent;
box-shadow: $stars-big;
animation : animateStars 31.5s ease-in-out infinite;
@include roundedCorners;
  
&:after
{
  content: " ";
  position: absolute;
  margin: auto;
  top: 0; left: 0; right: 0; bottom: 0;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: $stars-big;
  @include roundedCorners;
}
}

@keyframes animateStars
{
0%{@include rotateBase;}
25%{@include rotateRight;}
50%{@include rotateBase;}
75%{@include rotateLeft;}
100%{@include rotateBase;}
}
//
$mirrored-stars-small:  generateStars(700);
$mirrored-stars-medium: generateStars(200);
$mirrored-stars-big:    generateStars(100);

body
{
overflow: hidden;
}

#mirrored-stars-container
{
height: calc(100vh - 100px);
width: 100vw;
background: radial-gradient(ellipse at bottom, #141414 0%, #191919 100%);
overflow: hidden;
@include translate50;
z-index: 0;
left: 0;
top: 0;
position: relative;
transform: rotate(180deg);
}
  
#mirrored-stars
{
width: 1px;
height: 1px;
background: transparent;
box-shadow: $stars-small;
animation : animateStars 28.5s ease-in-out infinite;
@include roundedCorners;

&::after
{
  content: " ";
  position: absolute;
  margin: auto;
  top: 0; left: 0; right: 0; bottom: 0;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: $stars-small;
  @include roundedCorners;
}
}
  
#mirrored-stars2
{
width: 2px;
height: 2px;
background: transparent;
box-shadow: $stars-medium;
animation : animateStars 30s ease-in-out infinite;
@include roundedCorners;
  
&::after
{
  content: " ";
  position: absolute;
  margin: auto;
  top: 0; left: 0; right: 0; bottom: 0;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: $stars-medium;
  @include roundedCorners;
}
}
  
#mirrored-stars3
{
width: 3px;
height: 3px;
background: transparent;
box-shadow: $stars-big;
animation : animateStars 31.5s ease-in-out infinite;
@include roundedCorners;
  
&:after
{
  content: " ";
  position: absolute;
  margin: auto;
  top: 0; left: 0; right: 0; bottom: 0;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: $stars-big;
  @include roundedCorners;
}
}

@keyframes animateStars
{
0%{@include rotateBase;}
25%{@include rotateRight;}
50%{@include rotateBase;}
75%{@include rotateLeft;}
100%{@include rotateBase;}
}
//

.cube-container {
  max-width: 12.5em;
  max-height: 12.5em;
  top: 125vh;
  position: absolute;
  margin: 0em 30em;
  transform: translate(-50%, -50%);
  perspective: 150em;

}

.cubespinner {
  animation: spincube 100s ease-in-out infinite;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
}

.face {
  position: absolute;
  width: 200px;
  height: 200px;
  border: 1px solid #141414;
  background: #191919;
  text-align: center;
  font-size: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 20px 0px #6495ed;

  img {
    width: 100%;
    height: 100%;
  }
}

.face1 {
  transform: translateZ(100px);
}

.face2 {
  transform: rotateY(90deg) translateZ(100px);
}

.face3 {
  transform: rotateY(180deg) translateZ(100px);
}

.face4 {
  transform: rotateY(-90deg) translateZ(100px);
}

.face5 {
  transform: rotateX(-90deg) translateZ(100px);
}

.face6 {
  transform: rotateX(-90deg) rotateY(180deg) translateZ(100px);
}

@keyframes spincube {
  from,
  to {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }
  16% {
    transform: rotateY(-90deg) rotateX(360deg);
  }
  33% {
    transform: rotateY(-180deg) rotateX(360deg) rotateZ(360deg);
  }
  50% {
    transform: rotateY(-270deg) rotateZ(360deg);
  }
  66% {
    transform: rotateY(-270deg) rotateX(90deg) rotateZ(90deg);
  }
  83% {
    transform: rotateY(-270deg)  rotateX(-270deg) rotateZ(-90deg);
  }
}


@media screen and (max-width: 100px) {
.introduction {
  font-size: 8vw; // Adjust font size for smaller screens
}

.hello {
  font-size: 14vw; // Adjust font size for smaller screens
}

.about-me {
  width: 90%; // Adjust width for smaller screens
}

.picture {
  height: 30vw; // Adjust size for smaller screens
  width: 30vw; // Adjust size for smaller screens
}
}