.contact-page {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 5em;
    left: 1em;
    justify-content: center;
}

.text-zone{
    margin: 0;
    opacity: 0;
    animation: fadeIn 1s 0.5s;
    animation-fill-mode: forwards;

    h1 {
        margin-left: 5em;
        color: #6495ed;
        font-size: 5em;
    }

    p {
        color: #c0c0c0;
        width: 50em;
        font-size: 1.5em;
    }
    
}

.contact-form {
    width: 100%;
    margin-top: 5em;
    margin-left: 18em;

    ul {
        padding: 0;
        margin: 0;

        li {
            padding: 0;
            margin: 0;
            list-style: none;
            margin-bottom: .5em;
            overflow: hidden;
            display: block;
            position: relative;

        }
    }
}

input[type='text'],
input[type='email'] {
    color: #fff;
    height: 2em;
    width: 50%;
    border: 0;
    background: #181818
}

textarea {
    width: 50%;
    border: 0;
    background: #181818;
    color: #fff;
    min-height: 10em;
}

.flat-button {
    margin-left: 25%;
    color: #6495ed;
    background: 0 0;
    font: 3em;
    letter-spacing: 2px;
    border: 0.5px solid;
    border-radius: 3px;
}