body {
    margin: 0;
}

.container {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        min-height: 100vh;
}

.nav-bar {
    background: #181818;
    width: 100%;
    height: 75px;
    position: absolute;
    top: 0;
    z-index: 3;
    
    nav {
        display: flex;
        justify-content: space-between;
        text-align: center;
        position: absolute;
        height: 75px;
        margin-top: 10px;
        width: 100%;
        top: 0;

        a {
            font-size: 22px;
            color: #4d4d4e;
            display: flex;
            align-items: center;
            line-height: 51px;
            height: 51px;
            text-align: center;

            i {
                transition: all .3s ease-out;

            }
            
            &:hover {
                color: #6495ed;

                svg {
                    opacity: 0;
                }

                &:after {
                    opacity: 1;
                }
            }
            &:after {
                content: '';
                font-size: 12px;
                margin: 0 -30px;
                letter-spacing: 2px;
                position: flex;
                bottom: 0;
                display: flex;
                width: 100%;
                opacity: 0;
                transition: all .3s ease-out;
            }

            &:first-child {
                &:after { 
                    content: 'About';
                }
            }

            &.projects:after {
                    content:'Projects';
            }

            &.home:after {
                    content:'Home';
            }

            &.blog:after {
                    content:'Blog';
            }

            &.contact-link:after {
                    content:'Contact';
            }

            &.active {
                svg {
                    color: #6495ed;
                }
            }
    

        margin: 0 125px;
    
        } 
    }

}

.profile-image {
    max-height: 300px;
    height: auto;
    width: auto;
}

